<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/user">Проект</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/user/index">Профиль</a></li>
            <li><a href="/user/files">Файлы пользователя</a></li>
            <li><a href="/user/allusers">Все пользователи</a></li>
            <li>
                <form method="post">
                    <input type="submit" name="logout" value="Выход">
                    <input type="hidden" name="form_action" value="logout">
                </form>
            </li>
        </ul>
    </div>
</nav>
