{% extends "base.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block menu %}
    {% include "usermenu.twig" %}
{% endblock %}
{% block content %}
    <h1>Файлы пользователя</h1>
    <table class="table">
        <tr><th>ID картинки</th><th>Имя картинки</th><th>Картинка</th></tr>
        {% for userFile in userFiles %}
            <tr><td>{{ userFile.id }}</td><td>{{ userFile.image }}</td><td><img class="image-small" src="/upload/{{ userFile.image }}"></td></tr>
        {% endfor %}
    </table>
{% endblock %}
